<div class="container">
<div class="img_1">
<img src="https://logodix.com/logo/1680519.jpg" alt="">
</div>
  <div class="jumbotron"> 
    <h1 class="title">My Personal Home Page</h1>
    <p class="title_2">You can read more about me, or checkout my blog.</p>
    <%= link_to "Start", posts_path, class:"btn btn1"%>
  </div>
</div>



