<div class="container2">

    <div class="row2">
      <div class="box2">

<h1>Editing post</h1>
<div class ="form-contro">
<%= render "form", post: @post, class: "form-control" %>
</div>
<br>
<div>
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
</div>
