<div class="container2">
<img class="img_2"src="https://logodix.com/logo/1680519.jpg" alt="">
    <div class="row2">
      <div class="box2">


<div class="container5">
<h1 >New post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Back to posts",  posts_path  %>
</div>
</div>
</div>
</div>
    </div>
</div>

