.post{
    background-color:orange;
}
.h1{
    text-align: center;
} 

.container4 .contabolasi {
    width: 450px;
    height: 250px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background-color:black;
    color: white;
    border-radius: 10px;
    padding-top: 20px;

}
.post .btn{
    background-color: black;
    color:orange;
    border: none;
    border-radius: 0;
    width: 200px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 100px;
    top: 80px;
}

.post .btn2{
    text-decoration:none;
    background-color: orange;
    padding: 10px;
    color:black;
    font-size: 15px;
    font-weight: bold;
   
}

.nom .form-control {
    width: 200px;
    margin-top: 20px;

}

.container5 {
    position: absolute;

}

.submit .btn{
    margin-top: 90px;
    border: none;
    background-color: orange;
    padding: 10px;
    color:black;
    font-size: 15px;
    font-weight: bold;
   
}

